.capa-lol{
    width: 100%;
    opacity: 0.4;
}

.logo-lol{
    position: absolute;
    top: 50px;
    left: 320px;
    width: 410px;
}

.twicth-container-lol{
    width: 500px;
    height: 300px;;
    position: absolute;
    top: 260px;
    left: 200px;
}