.img-gow{
    width: 100%;
    opacity: 0.3;
}

.logo-gow{ 
    position: absolute;
    top: 60px;
    left: 320px;
    width: 410px;
}



.twitch-containe-gow{
    width: 500px;
    height: 300px;;
    position: absolute;
    top: 220px;
    left: 200px;
}