.title-color{
    color: #B258EA;
    font-weight: normal;
}

.title {
    position: absolute;
    top: 205px;
    left: 110px;
    color: #585555;
    font-size: 38px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

.main-container {
    height: 420px;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    margin-bottom: 50px;
}

.img-header {
    width: 100%;
    object-fit: cover;
    object-position: 0px 280px;
}



