.text-container {
    background-color: rgb(9, 1, 17);
    padding: 110px;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 20px;
    margin-bottom: 70px;
}

.text-container div:hover{
    opacity: 30%;
}

.text1{
    border-style: solid;
    border-width: 2px;
    padding: 40px;
    position: absolute;
    top: 535px;
    left: px;
    color: #572c72;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    
}

.text2{
    border-style: solid;
    border-width: 2px;
    padding: 40px;
    position: absolute;
    top: 535px;
    right: 205px;
    color: #572c72;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}

.text3{
    border-style: solid;
    border-width: 1px;
    padding: 60px;
    position: absolute;
    top: 525px;
    right: 560px;
    color:#8350a3;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.gif{
    width: 100%;
}



