.img-horizon{
    width: 100%;
    opacity: 0.8;
}

.img-tomb{
    width: 100%;
    opacity: 0.6;
}

.img-gow{
    width: 100%;
    opacity: 0.5;
    height: 870px;
}

.img-creed{
    width: 120%;
    opacity: 0.5;
}

.img-last{
    width: 100%;

}

.img-zelda{
    width: 100%;
    opacity: 0.9;
}

.img-dandara{
    width: 100%;
    opacity: 0.9;
}


.logo-horizon{
    position: absolute;
    top: 30px;
    left: 30px;
    width: 160px;
} 

.logo-lol{
    position: absolute;
    top: 60px;
    left: 600px;
    width: 300px;
} 

.logo-gow{
    position: absolute;
    top: 60px;
    left: 600px;
    width: 400px;
}

.logo-zelda{
    position: absolute;
    top: 20px;
    left: 650px;
    width: 250px;
} 
.logo-tomb{
    position: absolute;
    top: 30px;
    left: 50px;
    width: 270px;
} 

.twitch-container-horizon{
    width: 400px;
    height: 300px;;
    position: absolute;
    top: 230px;
    right: 450px;
}

.twitch-container-tomb{
    width: 400px;
    height: 300px;;
    position: absolute;
    top: 230px;
    right: 450px;
}

.info-twitch{
    position: absolute;
    top: 230px;
    left: 200px;
    width: 300px;
    height: 360px;
    color: snow;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
}

.perfil-horizon{
    border-radius: 300px;
    width: 100px;
    margin-top: 10px;
    margin-bottom: px;
    margin-left: 70px;
}

.perfil-tomb{
    border-radius: 300px;
    width: 100px;
    margin-top: 10px;
    margin-bottom: px;
    margin-left: 70px;
}

.perfil-lol{
    border-radius: 300px;
    width: 100px;
    margin-top: 20px;
    margin-left: 70px;
}

.perfil-gow{
    border-radius: 300px;
    width: 100px;
    margin-top: 20px;
    margin-left: 70px;
}

.perfil-creed{
    border-radius: 300px;
    width: 100px;
    margin-top: 35px;
    margin-left: 70px;
}

.perfil-last{
    border-radius: 300px;
    width: 100px;
    margin-top: 5px;
    margin-left: 70px;
}

.perfil-zelda{
    border-radius: 300px;
    width: 100px;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 70px;
}

.perfil-dandara{
    border-radius: 300px;
    width: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 70px;
}

.title-card{
    margin: 10px;
    margin-left: 70px;
    font-size: 20px;
    margin-bottom: 20px;;
}

.text-card{
    margin: 8px;
    color: ivory;
    font-size: 12px;
}

.info-card{
    margin-top: 20px;
    margin-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

.redes-container{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin: 20px;
}

.redes-sociais{
   width: 20px;
   margin-bottom: 10px;
}


